:root {
  --basic-backgound-brown: rgba(157, 139, 132, 1);
  --basic-backgound-blue: rgba(137, 150, 166, 1);
  --basic-backgound-green: rgba(132, 157, 143, 1);
  --basic-list-red: #FBDED7;
  --button-red: #F26843;
  --button-red2: #F6B5A5;
  --button-red3: #E74A35;
  --basic-white: #ffffff;
  --basic-black: #323232;
  --basic-grey: #5A5A5A;
  --basic-grey-back: #F8F7F4;
  --catalog-active: #D07058;
  --black-underine: #353535;
  --link-focus1: #FFBC9E;
  --link-focus2: #E84D37;
  --link-focus-border1: rgba(232, 77, 55, 0.3);
  --link-focus-border2:rgba(255, 188, 158, 0.3);
  --form-text: #999999;
  --form-border: rgba(178, 178, 178, 0.52);
  --boxshadow-button: rgba(172, 16, 0, 0.64);
  --link-border: rgba(255, 255, 255, 0.2);
  --hover-radio-color:rgba(255, 255, 255, 0.4);
  --basic-back-rasp: #dc143c;
  --basic-back-choc: #4d260b;
  --cart-weight: #000000;
  --cart-price: #ABABAB;
  --focus-back: #EDEDED;
  --menu-focus-shadow: #696969;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --box-shadow-list: rgba(0, 0, 0, 0.4);
  --box-shadow-focus:#942718;
  --form-focus-border:rgba(46, 136, 228, 0.52);
  --basic-link-focus:rgba(0, 0, 0, 0.07);
  --basic-map-container:#FEFEFE;
  --basic-blur: rgba(218, 228, 239, 0.75);
  --navigation-list-border: rgba(50, 50, 50, 0.2);
  --basic-border-basket: rgba(202, 202, 199, 1);
  --basic-toggle-color: #E5E5E5;
  --basic-scale-color: rgba(248, 247, 244, 0.5);
  --select-list-element: rgba(30, 144, 255, 1);
  --basic-text-shadow: rgba(49, 50, 53, 0.5);
}
.page {
  height: 100%;
}
/*Появилась браузерная обводка кнопок, пришлось гуглить, нашел такое решение*/
/*Начало*/
a:active, 
a:focus { 
	outline: none; 
}
input, textarea {
	outline:none;
}
input:active, 
textarea:active {
	outline:none;
}
:focus {
	outline:none;
}
textarea {
	resize:none;
}
textarea {
	resize:vertical;
}
textarea {
	resize:horizontal;
}
fieldset{
	margin: 0;
	padding: 0;
	border:0 none;
}
/*Конец*/
body {
  	transition: all 250ms ease-in-out;
  	--background-1:var(--basic-backgound-green);	
  	--background-2:var(--basic-backgound-blue);	
  	--background-3:var(--basic-backgound-brown);	
  	--slide-background: var(--basic-backgound-green);
  	min-width: 1200px;
  	height: 100%;
  	display: grid;
  	grid-template-rows: max-content 1fr max-content;
  	margin: 0;
  	padding: 0;
	font-family: 'Roboto','Arial Narrow', sans-serif;
  	color: var(--basic-white);
  	text-transform: uppercase;
  	background-color: var(--slide-background);
  	font-size: 14px;
  	line-height: 16px;
  	text-transform: none;
}
a {
  	text-decoration: none;
  	color: var(--basic-white);
}
img {
  	max-width: 100%;
  	height: auto;
}
button{
  	border: none;
}
.visually-hidden {
 	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	padding: 0;
  	overflow: hidden;
  	border: 0;
  	clip: rect(0 0 0 0)
}
/*Шапка*/
.main-header{
	width: 1146px;
	margin:0 auto;
}
.main-navigation{
	height: 114px;
	padding-top:9px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	display: grid;	
}
.nav-info-container{
	justify-self:end;
	margin-top:-14px;
}
.nav-main-container{
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	align-items:center;
}
.site-navigation{
	margin: 0;
  	padding: 0;
  	list-style: none;
	display: flex;
	flex-direction: row;
	align-items:center;
	flex-wrap: wrap;
}.site-navigation li{
	margin-right: 10px;
}
.main-header-logo{
	margin-right: 11px;
}
.nav-button-container{
	display: grid;
	grid-template-columns: max-content max-content max-content;
	grid-gap: 10px;
	position: relative;
}
.modal-search-button{
	border-radius: 20px; 
	width: 32px;
	height: 32px;
	background: url(../img/icons/search_ico.png) center no-repeat, var(--link-border);
}
.modal-search-button:hover, 
.modal-search-button:focus{
	background: url(../img/icons/search_ico_active.png) center no-repeat, var(--basic-white);
}
.modal-login{
	cursor: pointer;
}
.modal-login-button:hover, 
.modal-login-button:focus{
	background: url(../img/icons/login-ico-hover.png) 22% 50% no-repeat, var(--basic-white);
	color:var(--basic-black);
	text-align: right;
	padding-right: 16.5px;
}
.modal-personal{
	top:-10px;
	left: calc(160vw / 2 - 2px);
	position: absolute;
	display: none;
	z-index: 9999;
}
.catalog-navigation{
	position: relative;
	border-radius: 20px; 
	box-sizing: border-box;
	height: 32px;
	display: grid;
	align-content:center;
}
.catalog-navigation-onpage{
	background: var(--catalog-active);
}
.catalog-navigation a{
	margin:9px 13px 11px 13px; 
}
.catalog-navigation:not(.catalog-navigation-onpage) a{
	border-bottom: 1px solid var(--link-border);
}
.catalog-navigation-hover:not(.catalog-navigation-onpage):hover{
	background: var(--link-border);
	border-radius: 20px; box-sizing: border-box;
	height: 32px;
	display: grid;
	align-content:center;
	background-color: var(--basic-white);	
}
.catalog-navigation-hover:hover > a{
	margin:9px 13px 11px 13px; 
	color: var(--basic-black); 
}
.catalog-navigation-onpage:hover > a{
	margin:9px 13px 11px 13px; 
	color: var(--basic-white); 
}
.catalog-navigation-hover > a:focus{
	border-radius: 20px; 
	height: 32px;
	display: grid;
	align-content:center;
	box-sizing: border-box;
	background-color: var(--focus-back);
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	color: var(--basic-black);
	margin: 0;
	padding-left: 13px;
	padding-right: 13px;
}
.modal-login-button{
	padding: 0;
	margin: 0;
	border-radius: 20px; 
	width: 92px;
	height: 32px;
	background: url(../img/icons/login-ico.png) 22% 50% no-repeat, var(--link-border);
	color:var(--basic-white);
	text-align: right;
	padding-right: 16.5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	
}
.modal-basket-button{
	padding: 0;
	margin: 0;
	background: var(--link-border);
	padding-left: 16px;
	padding-right: 16px;

	border-radius: 20px; 
	height: 32px;
	display: grid;
	grid-gap: 0 8px;
	grid-template-columns: max-content 1fr;
	align-content:center;
	color: var(--basic-white);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}
.modal-basket-button img{
	align-self:center;
}
.modal-basket-button-full{
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 20px; 
	height: 32px;
	display: grid;
	grid-gap: 8px;
	grid-template-columns: max-content 1fr;
	align-content:center;
	background: var(--basic-white);
	position: relative;
	color: var(--basic-black);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}
.modal-basket-button-full img{
	align-self:center;
}
.catalog-navigation-list{
	margin: 0;
  	padding: 0;
  	list-style: none;
	position: absolute;
	display: none;
	z-index: 111;
	width: 143px;
	height: auto;
	top:35px;
	background: var(--basic-white);
	box-shadow: 0px 20px 20px var(--box-shadow-list);
	border-radius: 4px;
	font-size: 14px;
	line-height: 16px;	
}
.catalog-navigation-list:before{
	position: absolute;
	content: "";
	width: 143px;
	height: 10px;
	top:-10px;
	z-index: 10;
}
.catalog-navigation:hover .catalog-navigation-list{
	display: block;
}
.catalog-navigation-list .catalog-navigation-list-link,
.catalog-navigation-list .catalog-navigation-list-link:hover,
.catalog-navigation-list .catalog-navigation-list-link:focus{
	font-weight: normal;
	display: block;
	width: 92%;
	padding: 0;
	margin:0;
	color: var(--basic-black);
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 7px;
	padding-top:7px;
	padding-left: 21px;
}
.catalog-navigation-list li:last-child{
	margin-bottom: 10px;
}
.catalog-navigation-list .catalog-navigation-list-link-main{
	display: block;
	padding: 0;
	margin:0;
	color: var(--basic-black);
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 5px;
	padding-top:5px;
	margin-left: 21px;
}
.catalog-navigation-list-link-main:after{
	content: "";
	position: absolute;
	height: 1px;
	width: 90%;
	background: var(--navigation-list-border);
	z-index: 9999;
	left: 5px;
	top:45px;
	}
.catalog-navigation-list-new{
	padding-top: 13px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.catalog-navigation-list .catalog-navigation-list-link:hover {
	background-color: var(--basic-list-red);
}
.catalog-navigation-list .catalog-navigation-list-link:focus{
	background-color: var(--button-red2);
}
.catalog-navigation-list-focus,
.catalog-navigation-list .catalog-navigation-list-focus:hover,
.catalog-navigation-list .catalog-navigation-list-focus:focus
{
	background-color: var(--catalog-active);
}
.modal-login-button,
.modal-basket-button{
	font-weight: 500;
}
.nav-info-text{	
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	margin-bottom: 8px;
}
.nav-info-phone {
	font-size: 22px;
	line-height: 24px; 
}

.container-404{
	margin:0 auto;
	width: 1146px;
	min-height: 100%;
}
.title-404{
	margin-bottom: 50px;
	margin-top:50px;
}
.container-404 a:hover{
	color: var(--link-focus1);
	text-decoration: underline;
}
/*Слайдер*/
.slider-container{
	width: 1146px;
	margin: 0 auto;
	height:530px;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

.slide{
	position: relative;
	top:-55px;
    width: 800px;
    height: 600px;
    z-index: 22;

}
.blur{
	right: 280px;
	position: absolute;
	width: 800px;
	filter: blur(250px);
	background: var(--basic-blur);
	height: 450px;
}
.slide1{
	background: 
     url( ../img/slider/slide_5.png) 72px 13px no-repeat,
     url(../img/slider/slide_6.png) 385px 55px no-repeat;
}
.slide2{
	background: 
     url( ../img/slider/slide_3.png) 72px 13px no-repeat,
     url(../img/slider/slide_4.png) 385px 55px no-repeat;
}
.slide3{
	background: 
     url( ../img/slider/slide_1.png) 72px 13px no-repeat,
     url(../img/slider/slide_2.png) 385px 55px no-repeat;
}

.slider-radio{
	justify-self: start;
	position: relative;
	bottom: 160px;
	display: flex;
	flex-direction: row;
}
.slide1{
	display: block;
}
.slide2{
	display: none;
}
.slide3{
	display: none;
}

.button-slider{
	position: relative;
	z-index: 2;
	top:242px;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	width: 261px;
	height: 62px;
}
.title-slide{
	position: relative;
	top:268px;
	font-size: 60px;
	line-height: 60px;
}
.label-radio {
    box-sizing: border-box;
	border: 2px solid white;
    margin: 8px;
    display: flex;
    flex-direction: row;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: none;
}
.label-radio:hover{
	cursor: pointer;
   	background-color: var(--hover-radio-color);
}
.radio_slide:checked + .label-radio{
	cursor: pointer;
	background: var(--basic-white);
}
/*Акции*/
.stocks{
	z-index: 111;
	position: relative;
	width: 1146px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 26px;
}
.stocks-items{
	border-radius: 16px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	width: 560px; 
	height: 229px;
}
.stocks-items_title{
	margin: 16px 0;

	padding-left:16px;
	padding-bottom: 0;
	font-size: 35px;
	line-height: 41px;
}
.stocks-items_text{
	padding-left: 16px;
	padding-right: 30px;
	margin-bottom:42px;
}
.stocks-items-button{
	margin-right: 34px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	height: 48px;
	width: 191px;
	display:inline;
	float:right;

}
.stocks-items-rasp{
	background-image: url(../img/background/rasp_back.jpg);
	background-color: var(--basic-back-rasp);
}
.stocks-items-choc{
	background-image: url(../img/background/choc_back.jpg);
	background-color: var(--basic-back-choc);
}
/*Товары "ХИТ"*/
.product-hit-container{
	width: 1146px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;	
}
.product-hit-detail{
	position: relative;
	margin-top: 6px;
	margin-bottom: 0;
	display: grid;
}
.product-hit-image{
	justify-self:center;
	border-radius:50%;
}
.button-wrapper{
	margin-top: 14px;
	display: flex;
	justify-content: center;
}

.product-hit-cart .button-hit{
	visibility: hidden;
	padding: 12px 16px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
}
.product-hit-cart:hover{
	background: var(--link-border);
	box-shadow: 0px 20px 20px var(--box-shadow);
	border-radius: 4px;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
}
.product-hit-cart:hover .button-hit{
	visibility: visible;
	padding: 12px 16px;
	margin-bottom: 15px;
}
.product-hit-price{
	padding-left: 10px;
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	position: absolute;
	top:162px;
}
.product-hit-text{
	padding: 0 15px;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 0;
	margin-top:8px;
	text-shadow: 0px 1px 3px var(--basic-text-shadow);
}
.product-hit-borderimg{
	width: 61px;
	height: 61px;
	background: var(--basic-white);
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
  	position: absolute;
  	top:0;
  	left: 10px;
}
.product-hit-link{
	border-bottom: 1px solid var(--link-border);
}
/*Преимущества*/
.advantages{
	border-radius: 16px;
	color: var(--basic-black);
	width: 1146px;
	height: 306px;
	background-image: url(../img/background/pattern.jpg); 
	margin: 0 auto;
	margin-top: -46px;
	
}
.grid-advantages{
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items:start;
	padding: 0;	
}
.advantages-text{
	margin: 0;
}
.advantages-border-img{
	position: relative;
	bottom: 10px;
	height: 49px;
	width: 49px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	align-items:center;
  	justify-content: center;
  	margin-right: 6px;
}
.advantages-title{
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	padding-left: 24px;
	padding-top: 20px;
	margin-bottom: 0;
	
}
.advantages-list{
	margin: 0;
  	padding: 0;
  	list-style: none;
	margin-top: 21px;
	margin-left: 24px;
	margin-right: 23px;
	display: grid;
	grid-gap: 33px 26px;
	grid-template-columns: 1fr 1fr;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

/*Блог*/
.interactive-container{
	width: 1146px;
	margin: 0 auto;
	margin-top: 40px;
	display: grid;
	grid-gap: 26px;
	grid-template-columns: 1fr 1fr;
}
.blog{
	width: 560px;
	height: 220px;
	background: url(../img/background/straw_back.jpg); 
	background-color: var(--basic-white);
	color: var(--basic-black);
	border-radius: 16px;
}
.blog-text{
	margin-top: 23px;
	margin-left: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}
.blog-href-container{
	margin-left: 20px;
}
.blog-href{
	color: var(--basic-black);
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	border-bottom: 2px solid var(--black-underine);
}
.blog a:hover,
.blog a:focus{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
/*Карта*/
.map-contacts{
	position: absolute;
	z-index: 1;
	right: 0;
	top:320px;
	
}
.map-contacts-container{
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
}
.yandexmap{
	width: 100%; 
	height: 430px
}
.contacts-container{
	top: 60px;
	right: 30px;
	width: 303px;
	height: 306px;
	background: var(--basic-map-container);
	border-radius: 16px;
	padding: 32px 25px 31px;
	box-sizing: border-box;
}
.button-contacts{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	margin-top: 7px;
	width: 253px;
	height: 43px;
}
.contacts-text-important{
	color:var(--basic-black);
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
.contacts-text{
	color: var(--basic-black);
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
/*Подписка*/
.subscription{
	background: url(../img/background/mail_back.jpg);
	background-color: var(--basic-grey-back);
	width: 560px;
	height: 220px;
	border-radius: 16px;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	position: relative;
}
.subscription-main{
	background-color: var(--basic-grey-back);
	width: 548px; 
	height: 210px;
	border-radius: 16px;

}
.subscription-text{
	margin-left: 20px;
	margin-top: 29px;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-grey);
}

/*Футер*/
.main-footer{
	width: 1144px;
	margin: 0 auto;
	margin-top:18px;
	padding-bottom: 25px;
	height: 60px;
	display: grid;
	grid-gap: 234px;
	grid-template-columns: max-content 1fr max-content;
	align-items: center;
}
.main-footer-catalog{
	border-top:1px solid var(--link-border);
	height: 78px;
}
.social-button img{
	border:2px solid var(--hover-radio-color);
	border-radius: 50%;
	opacity:0.8;
}
.social-button img:hover{
	opacity:1;
}
.footer-catalog-border-margin{
	margin-top: 18px;
}
.footer-social-list{
	margin: 0;
  	padding: 0;
  	list-style: none;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 12px;
	padding-bottom: 5px;
}
.footer-info-list{
	margin: 0;
  	padding: 0;
  	list-style: none;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 9px 12px;
	padding-bottom: 3px;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	
}
.footer-info-list a{
	border-bottom: 1px solid var(--link-border);
}
.footer-info-list li:first-child{
	font-weight: bold;
}
.text-developer{
	margin-top: 0;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}
.text-developer a{
	border-bottom: 1px solid var(--link-border);
}
.footer-info-list a:hover,
.footer-info-list a:focus,
.text-developer a:hover,
.text-developer a:focus{
	color: var(--link-focus1);
	border-bottom: 1px solid var(--link-focus-border2);
}
.dealer{
	position: relative;
}
.dealer:before{
	position: absolute;
	left:-20px;
	top:3px;
	content: url(../img/icons/heart_ico.png);
}
/*Кнопки*/
.button{
	border: none;
	color: var(--basic-white);
	background-color: var(--button-red);
	background: linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: 0px 2px 2px var(--boxshadow-button);
	border-radius: 70px;
	cursor: pointer;
}
.button:hover{
	background: linear-gradient(0deg, var(--link-border), var(--link-border)),  
	linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: 0px 2px 2px var(--boxshadow-button);
	border-radius: 70px;
}
.button:focus{
	background: linear-gradient(0deg, var(--basic-link-focus), var(--basic-link-focus)), 
	linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: inset 0px 2px 2px var(--box-shadow-focus);
	border-radius: 70px;
}
/*Формы*/
.basic-form input[type="email"],
.basic-form input[type="text"],
.basic-form input[type="password"]{
	background: var(--basic-white);
	border: 1px solid var(--form-border);
	color: var(--form-text);
	border-radius: 4px;	
	font-size: 16px;
	line-height: 20px;
}
.basic-form textarea{
	background: var(--basic-white);
	color: var(--form-text);
	border: 1px solid var(--form-border);
	border-radius: 4px;
	font-size: 16px;
	line-height: 20px;
}
.subscription-form input[type="email"]{
	border-radius: 6px;
	font-size: 16px;
	line-height: 24px;
	width: 368px;
	height: 44px;
	margin-right: 10px;
	padding-left: 14px;
}
.subscription-form input:focus{
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
}
.button-subscription{
	width:130px;
	height: 44px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
.form-subscription-container{
	margin-left: 20px;
	margin-right: 20px;
	height: 44px;
	display: flex;
	align-items:center;
  	justify-content: center;
}
.login-form input[type="email"],
.login-form input[type="password"],
.search-form input[type="text"]{
	font-size: 14px;
	line-height: 16px;
}
.login-form input:focus,
.search-form input:focus{
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-black);
}
.basic-form input:hover{
	border: 1px solid var(--form-border);
	box-shadow: 0 0 0 1px var(--form-border);
}
.basic-form input:focus{
	border: 1px solid var(--form-focus-border);
	box-shadow: 0 0 0 1px var(--form-focus-border);
	font-weight: bold;
}
.feedback-form textarea:hover{
	border: 1px solid var(--form-border);
	box-shadow: 0 0 0 1px var(--form-border);
}
.feedback-form textarea:focus{
	border: 1px solid var(--form-focus-border);
	box-shadow: 0 0 0 1px var(--form-focus-border);
	font-weight: bold;
	color: var(--basic-black);
}
.feedback-form input:focus,
.feedback-form textarea:focus{
	font-size: 16px;
	line-height: 20px;
	color: var(--basic-black);
}
.password-restore,
.new-user{
	color: var(--basic-black);
	border-bottom: 1px solid var(--black-underine);
}
.password-restore:hover,
.new-user:hover{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
.password-restore:focus,
.new-user:focus{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
/*Корзина*/
.cart{
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: var(--basic-black)
}
.cart-weight{
	color: var(--cart-weight)
}
.cart-price{
	color: var(--cart-price)	
}
.cart-total{
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	color: var(--basic-black)
}

/* css для каталога*/
.breadcrumbs{
	margin: 0;
  	padding: 0;
  	list-style: none;
	margin-top:-24px;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	flex-direction: row;	
}
.breadcrumbs li{
	position: relative;
}
.breadcrumbs a{
	margin-right:22px;
	border-bottom: 1px solid var(--link-border);
	display: flex;
	flex-direction: row;
}
.breadcrumbs li:not(:first-child):before{
	content: "";
	width: 10px;
	height: 10px;
	background: url(../img/icons/breadcrumbs-separator.svg) no-repeat;
	position: absolute;
	left:-14px;	
	bottom: 1px;
}
.breadcrumbs li:last-child a{
	border-bottom:0;
	margin-right:0;
}
.breadcrumbs a:hover, .breadcrumbs a:focus{
	color: var(--link-focus1);
	border-bottom: 1px solid var(--link-focus-border2);
} 
.breadcrumbs li:last-child a:hover{
	cursor: default;
	color: var(--basic-white);
	border-bottom:none;
}
/*Фильтр*/
.bottom-row{
	margin-top: 14px;
}
.catalog-container{
	width: 1146px;
	margin: 0 auto;
}
.filter-main{
	width: 869px;
	height: 130px;
}
.filter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}
.filter-container{
	border-radius: 20px;
	background: var(--link-border);
}

.filter-select{
	position: relative;
	width: 196px;
	height: 36px;
	border-radius: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.filter-select:after{
	content: "";
	position: absolute;
	right: 14px;
	top:14px;
	width: 11px;
	height: 10px;
	background: url(../img/icons/select-normal.png);
}
.filter-select-main{
	padding-left: 20px;
}
.filter-select:hover .filter-select-list{
	margin: 0;
  	padding: 0;
  	list-style: none;
	display: block;
}
.filter-range{
	width: 218px;
	height: 36px;
	padding:0;
	margin: 0;
	position: relative;
}
.filter-range-scale{
	position: absolute;
	top:17px;
	left:30px;
	width: 70%;
  	height: 2px;
  	background: var(--basic-scale-color);
}
.filter-range-bar{
	position: absolute;
	top:17px;
	left:50px;
	width: 40%;
  	height: 2px;
  	background: var(--basic-grey-back);
}
.filter-range-toggle{
	width: 4px;
	height: 4px;
	border: 8px solid var(--basic-white);
	border-radius: 50%;
	background: var(--basic-backgound-blue);
	z-index: 11;
	cursor: pointer;
}
.filter-range-toggle:hover{
	border: 10px solid var(--basic-white);
	border-radius: 50%;
	}
.toggle-min{
	position: absolute;
	top:8px;
	left:40px;
}
.toggle-max{
	position: absolute;
	top:8px;
	left:130px;
}
.toggle-min:hover{
	top:6px;
}
.toggle-max:hover{
	top:6px;
}
.filter-select:hover {
	color: var(--basic-black);
}
.filter-select:hover:after{
	background: url(../img/icons/select-hover.png);
}
.filter-select-main-list{
	margin: 0;
  	padding: 0;
  	list-style: none;	
}
.filter-select-list{
	display: none;
	position: absolute;
	z-index: 11;
	top:38px;
	left:0;
	width: 196px;
	background: var(--basic-white);
	color: var(--basic-black);
}
.filter-select-list-element{
	display: grid;
	align-items: center;
	justify-content: flex-start;
	padding-top:8px;
	padding-bottom: 3px;
}
.filter-select-list-element:hover{
	background: var(--select-list-element);
	color: var(--basic-white);
}
.filter-select-list-element:last-child{
	padding-bottom: 4px;
}
.filter-select-list-element p{
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	margin-left: 20px;
}
.filter-product-fat-list{
	margin: 0;
  	padding: 0;
  	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 425px;
	height: 36px;
	display: flex;
	flex-direction: row;
	padding-top: 9px;
	box-sizing: border-box;
}
.label-fat-list {
	margin-left:15px;
	margin-bottom: 8px;
	margin-right: 11px;
	display: flex;
	flex-direction: row;
	width: 22px;
	height: 22px;
	background:url(../img/icons/fat-list-normal.png);
}
.label-fat-list:hover {
	cursor: pointer;  
	width: 22px;
    height: 22px;
   	background:url(../img/icons/fat-list-hover.png);
}
.input-fat-list:checked + .label-fat-list{
	cursor: pointer; 
	width: 22px;
    height: 22px;
   	background:url(../img/icons/fat-list-checked.png);
}
 .input-fat-list:checked + .label-fat-list:hover{
 	cursor: pointer; 
 	width: 22px;
    height: 22px;
   	background:url(../img/icons/fat-list-checked-hover.png);
}  	
.input-fat-list{
	display: none;
	width: 22px;
	height: 22px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
}
.product-fat-list-items{
	margin-bottom: 5px;
	margin-right: 4px;
}
.filter-filler{
	margin: 0;
  	padding: 0;
  	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 711px;
	height: 36px;
	display: flex;
	flex-direction: row;
}
.label-filler-list {
	margin-left:16px;	
	margin-right: 8px;
    display: flex;
    flex-direction: row;
    width: 23px;
    height: 20px;
   	background:url(../img/icons/filler-normal.png) no-repeat;
}	
.label-filler-list:hover {
	cursor: pointer;  
	width: 23px;
	height: 20px;
	background:url(../img/icons/filler-hover.png) no-repeat;
}
.input-filler-list:checked + .label-filler-list{
	cursor: pointer; 
	width: 23px;
	height: 20px;
	background:url(../img/icons/filler-checkbox-on.png);
}
.input-filler-list:checked + .label-filler-list:hover{
	cursor: pointer; 
	width: 23px;
	height: 20px;
	background:url(../img/icons/filler-checkbox-on-hover.png);
}
.input-filler-list{
	display: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
}
.filler-list-items{
	margin-right: 4px;
}
.main-title{
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
}
.filter, .button-filter{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	border-radius: 20px;
}
.filter-title{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-left:15px;
	margin-bottom: 7px;
}
.button-filter{
	background: var(--link-border);
	border: 2px solid var(--basic-white);
	border-radius: 20px;
}
.filter select{
	background:var(--basic-backgound-green);
	color:var(--basic-white);
}
.filter select:hover{
	font-weight: 500;
	color:var(--basic-black);
}
.button-filter{
	margin-top: 35px;
	width: 144px;
	height: 36px;
	background: var(--link-border);
	border: 2px solid var(--basic-white);
	border-radius: 20px;
}
.button-filter:hover{
	background: var(--basic-white);
	border: none;
	border-radius: 20px;
	color:var(--basic-black);
}
.button-filter:focus{
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	background: var(--basic-white);
	border: none;
	border-radius: 20px;
	color:var(--basic-black);
}
/*Товары*/
.catalog{
	margin-top: 40px;
	width: 1146px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*Пагинация*/
.pagination{
	margin-top: 80px;
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white); 
}
.pagination-main-list{
	display: flex;
	flex-direction: row;
	justify-content: flex-end
}
.pagination-list:nth-child(2) a{
	color: var(--basic-black);
	width: 26px;
	height: 26px;
	background: var(--basic-white);
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
}
.pagination a:hover{ 
	background: var(--link-border);
	width: 26px;
	height: 26px;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
}
.pagination-list .active-page:hover{
	background: var(--basic-white);
}
.pagination-list-2{
	color: var(--link-border);
	width: 26px;
	height: 26px;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	margin-right: 12px;
  	opacity: 0.2;
}
.pagination-list-2 a{
	color: var(--link-border);
} 
.pagination-list-2 a:hover{ 
	background: none;
} 
.pagination-list{
	width: 26px;
	height: 26px;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
  	margin-right: 12px;
  }
.pagination-list a{
	color: var(--basic-white); 
} 

.basic-form input[type="email"],
.basic-form input[type="text"],
.basic-form input[type="password"]{
	color:var(--basic-black);
}
.input-fat-list:disabled + .label-fat-list,
.input-filler-list:disabled + .label-filler-list
{
 opacity: 0.4;
}
/*Форма поиска*/
.modal-search{
	position: absolute;
	display: none;
	top: 60px;
	left: calc(100vw / 2 - 8px);
	z-index: 9999;
}
.modal-search:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 10px;
	top:-10px;
	z-index: 10;
}
.search-form{
	background: var(--basic-grey-back);
	box-shadow: 0px 20px 20px var(--box-shadow-list);
	border-radius: 4px;
}
.search-product{
	margin: 20px 15px;
	width: 311px;
	height: 44px;
	padding-left: 15px;
}
/*Форма ЛК*/
.login-form{
	display: block;
	position: absolute;
	top:70px;
	right: 120px;
	width: 287px;
	height: 214px;
	background: var(--basic-grey-back);
	box-shadow: 0px 20px 20px var(--box-shadow-list);
	border-radius: 4px;
}
.login-form-container{
	margin: 20px 20px 22px 22px;
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: 1fr 1fr;
	grid-gap: 0 20px;
	align-items: center;

}
.login-form-login{
	padding-left: 15px;	
	width: 226px;
	height: 44px;
	margin: 19px 20px 20px 22px;

}
.login-form-password{
	padding-left: 15px;
	width: 226px;
	height: 44px;
	margin: 0 20px 0 22px;

}
.login-form-button{
	width: 103px;
	height: 44px;
	grid-row: 1/-1;
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;	
}
.login-form-container a{
	text-decoration: underline;
	text-decoration-color: var(--navigation-list-border);
	font-size: 13px;
	line-height: 15px;
	border-bottom: none;
}
.login-form-container a:hover{
	text-decoration: underline;
	text-decoration-color: var(--link-focus-border2);
	border-bottom: none;
}
/*Форма обратной связи*/
.feedback-form{
	display: none;
	width: 447px;
	height: 443px;
	position: fixed;
	top: 40%;
	right: 38.5%;
	background: var(--basic-grey-back);
	border-radius: 6px;
	z-index: 111;
}

.feedback-form h2{
	color: var(--basic-black);
	padding-left: 23px;
	padding-top: 5px;
	margin-bottom: 26px;
}
.subscribe-name, .subscribe-email{
	width: 237px;
	height: 44px;
	margin-left: 23px;
	padding-left: 14px;
	margin-bottom: 10px;
}
.subscribe-textarea{
	resize: none;
	width: 378px;
	min-height: 124px;
	margin-left: 23px;
	padding-left: 14px;
	padding-top: 16px;
	margin-bottom: 5px;
}
.subscribe-button{
	width: 140px;
	height: 44px;
	position: absolute;
	right: 30px;
}
.modal-feedback-close{
	position: absolute;
	width: 18px;
	height: 17px;
	top:17px;
	right: 16px;
	cursor: pointer;
}
/*Форма корзины*/
.modal-basket{
	position: absolute;
	top:60px;
	left: calc(100vw / 2 + 26px);
	display: none;
	width: 539px;
	background: var(--basic-grey-back);
	border-radius: 6px;
	z-index: 111;
	box-shadow: 0px 20px 20px var(--box-shadow-list);
	border-radius: 4px;

}
.cart{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-right: 34px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.modal-basket-name{ 
	max-width: 216px;
	align-self: baseline;
	margin-right: 15px;
}
.modal-basket img:not(:first-child){
	width: 33px;
	height: 33px;
	margin-top: 5px;
}
.modal-basket-close{
	margin-top: 14px;
}
.cart-weight{
	margin-right: 15px;
}
.cart-total, .form-cart{
	justify-self:end;
	margin-right: 34px;
}
.button-cart{
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;
	width: 174px;
	height: 44px;
	margin-bottom: 20px;
}
.cart-total{
	margin-top: -5px;
}
.modal-basket-border{
	width: 510px;
	border-color: var(--basic-border-basket);
	margin-top: -5px;
}
.cart-margin-top{
	margin-top: 20px;
}

