:root {
  --basic-backgound-brown: #9D8B84;
  --basic-backgound-blue: #8996A6;
  --basic-backgound-green: #849D8F;
  --basic-list-red: #FBDED7;
  --button-red: #F26843;
  --button-red2: #F6B5A5;
  --button-red3: #E74A35;
  --basic-white: #ffffff;
  --basic-black: #323232;
  --basic-grey: #5A5A5A;
  --basic-grey-back: #F8F7F4;
  --catalog-active: #D07058;
  --black-underine: #353535;
  --link-focus1: #FFBC9E;
  --link-focus2: #E84D37;
  --link-focus-border1: rgba(232, 77, 55, 0.3);
  --link-focus-border2:rgba(255, 188, 158, 0.3);
  --form-text: #999999;
  --form-border: rgba(178, 178, 178, 0.52);
  --boxshadow-button: rgba(172, 16, 0, 0.64);
  --link-border: rgba(255, 255, 255, 0.2);
  --basic-back-rasp: #dc143c;
  --basic-back-choc: #4d260b;
  --basic-back-pattern:#fde910;
  --basic-back-straw:#fffafa;
  --basic-back-mail:#fde910;
  --cart-weight: #000000;
  --cart-price: #ABABAB;
  --focus-back: #EDEDED;
  --menu-focus-shadow: #696969;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --box-shadow-focus:#942718;
  --form-focus-border:rgba(46, 136, 228, 0.52);
  --basic-link-focus:rgba(0, 0, 0, 0.07);
}

/*Появилась браузерная обводка кнопок, пришлось гуглить, нашел такое решение*/
/*Начало*/
a:active, a:focus { outline: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
/*Конец*/
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-backgound-green);
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
a {
  text-decoration: none;
  color: var(--basic-white);
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
/*Шапка*/
.main-navigation{
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
.site-navigation a:hover,
.site-navigation a:focus{
  color: var(--basic-white);
}
.site-navigation a:hover{
	background-color: var(--basic-white);
	color: var(--basic-black); 
	border-radius: 26px;
}
.site-navigation a:focus{
	background-color: var(--focus-back);
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	color: var(--basic-black); 	
}
.catalog-navigation-list{
	font-size: 14px;
	line-height: 16px;
}
.catalog-navigation-list a,
.catalog-navigation-list a:hover,
.catalog-navigation-list a:focus{
	color: var(--basic-black);
	border-radius: 0;
	box-shadow: none;
}
.catalog-navigation-list a:hover{
	background-color: var(--basic-list-red);
}
.catalog-navigation-list a:focus{
	background-color: var(--button-red2);
}
.catalog-navigation-catalog:first-child > a{
	background: var(--catalog-active);
	border-radius: 26px;
}
.catalog-navigation-catalog:first-child > a:hover{
	background-color: var(--basic-white);
	color: var(--basic-black); 
	border-radius: 26px;
}
.catalog-navigation-catalog:first-child > a:focus{
	background-color: var(--focus-back);
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	color: var(--basic-black); 	
}
.modal-login-button,
.modal-basket-button{
	font-weight: 500;
}
.phone {
	font-size: 22px;
	line-height: 24px; 
}
/*Слайдер*/
.slaider-container{
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
}
.slaid{
	font-size: 60px;
	line-height: 60px;
}
/*Акции*/
.stocks-items{
	border-radius: 16px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	width: 560px; 
	height: 229px;
}
.stocks-items_title{
	font-size: 35px;
	line-height: 41px;
}
.stocks-items-button{
	text-align: right;
	font-size: 18px;
	line-height: 24px;
}
.stocks-items-rasp{
	background-image: url(../img/background/rasp_back.jpg);
	background-color: var(--basic-back-rasp);
}
.stocks-items-choc{
	background-image: url(../img/background/choc_back.jpg);
	background-color: var(--basic-back-choc);
}
/*Товары "ХИТ"*/
.product-hit-cart{
	width: 267px;
	height: 324px;
}
.product-hit-img{
	width: 267px;
	height: 267px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius:50%;
}
.product-hit-price{
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
}
.product-hit-1{
	background-image: url(../img/catalog/product_1.jpg);
}
.product-hit-2{
	background-image: url(../img/catalog/product_2.jpg);
}
.product-hit-3{
	background-image: url(../img/catalog/product_3.jpg);
}
.product-hit-4{
	background-image: url(../img/catalog/product_4.jpg);
}
.product-hit-text{
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}
.product-hit-href{
	border-bottom: 1px solid var(--link-border);
}
/*Преимущества*/
.advantages{
	color: var(--basic-black);
	width: 1146px;
	background-image: url(../img/background/pattern.jpg); 
}
.advantages-title{
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}
.advantages-list{
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}
/*Блог*/
.blog{
	width: 560px;
	height: 220px;
	background: url(../img/background/straw_back.jpg); 
	background-color: var(--basic-grey-straw);
	color: var(--basic-black);
	border-radius: 16px;
}
.blog-text{
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}
.blog-href{
	color: var(--basic-black);
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	border-bottom: 2px solid var(--black-underine);
}
.blog a:hover,
.blog a:focus{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
/*Подписка*/
.subscription{
	background: url(../img/background/mail_back.jpg);
	background-color: var(--basic-grey-back);
	width: 560px;
	height: 220px;
	border-radius: 16px;
}
.subscription-main{
	background-color: var(--basic-grey-back);
	width: 548px; 
	height: 210px;
	border-radius: 16px;
}
.subscription-text{
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-grey);
}
/*Карта*/
.contacts-text{
	color: var(--basic-black);
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
.contacts-text-important{
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
/*Футер*/
.footer-info-list{
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	
}
.footer-info-list a{
	border-bottom: 1px solid var(--link-border);
}
.footer-info-list li:first-child{
	font-weight: bold;
}
.text-developer{
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}
.text-developer a{
	border-bottom: 1px solid var(--link-border);
}

.footer-info-list a:hover,
.footer-info-list a:focus,
.text-developer a:hover,
.text-developer a:focus{
	color: var(--link-focus1);
	border-bottom: 1px solid var(--link-focus-border2);
	
}
/*Кнопки*/
.button{
	border: none;
	color: var(--basic-white);
	background-color: var(--button-red);
	background: linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: 0px 2px 2px var(--boxshadow-button);
	border-radius: 70px;
}
.button:hover{
	background: linear-gradient(0deg, var(--link-border), var(--link-border)),  
	linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: 0px 2px 2px var(--boxshadow-button);
	border-radius: 70px;
}

.button:focus{
	background: linear-gradient(0deg, var(--basic-link-focus), var(--basic-link-focus)), 
	linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: inset 0px 2px 2px var(--box-shadow-focus);
	border-radius: 70px;
}


/*Формы*/
.basic-form input[type="email"],
.basic-form input[type="text"],
.basic-form input[type="password"]{
	background: var(--basic-white);
	border: 1px solid var(--form-border);
	color: var(--form-text);
	border-radius: 4px;	
	font-size: 16px;
	line-height: 20px;
}
.basic-form textarea{
	background: var(--basic-white);
	color: var(--form-text);
	border: 1px solid var(--form-border);
	border-radius: 4px;
	font-size: 16px;
	line-height: 20px;
}
.subscription-form input[type="email"]{
	border-radius: 6px;
	font-size: 16px;
	line-height: 24px;
}
.login-form input[type="email"],
.login-form input[type="password"],
.seach-form input[type="text"]{
	font-size: 14px;
	line-height: 16px;
}
.login-form input:focus,
.seach-form input:focus{
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-black);
}
.basic-form input:hover{
	border: 2px solid var(--form-border);

}
.basic-form input:focus{
	border: 2px solid var(--form-focus-border);
	font-weight: bold;
}
.feedback-form textarea:hover{
	border: 2px solid var(--form-border);
}
.feedback-form textarea:focus{
	border: 2px solid var(--form-focus-border);
	font-weight: bold;
	color: var(--basic-black);
}
.feedback-form input:focus,
.feedback-form textarea:focus{
	font-size: 16px;
	line-height: 20px;
	color: var(--basic-black);
}
.subscription-form input:focus{
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
}
.password-restore,
.new-user{
	color: var(--basic-black);
	border-bottom: 1px solid var(--black-underine);
}
.password-restore:hover,
.new-user:hover{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
.password-restore:focus,
.new-user:focus{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
/*Корзина*/
.cart{
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: var(--basic-black)
}
.cart-weight{
	color: var(--cart-weight)
}
.cart-price{
	color: var(--cart-price)	
}
.cart-total{
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	color: var(--basic-black)
}

/* css для каталога*/
.breadcrumbs{
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	
}
.breadcrumbs a{
	border-bottom: 1px solid var(--link-border);
}
/*Фильтр*/
.main-title{
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
}
.filter, .button-filter{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	background: var(--link-border);
	border-radius: 20px;
}
.filter-title{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}
.button-filter{
	background: var(--link-border);
	border: 2px solid var(--basic-white);
	border-radius: 20px;
}
.filter select{
	background:var(--basic-backgound-green);
	color:var(--basic-white);
}
.filter select:hover{
	font-weight: 500;
	color:var(--basic-black);
}
.button-filter{
	background: var(--link-border);
	border: 2px solid var(--basic-white);
	border-radius: 20px;
}
.button-filter:hover{
	background: var(--basic-white);
	border: none;
	border-radius: 20px;
	color:var(--basic-black);
}
.button-filter:focus{
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	background: var(--basic-white);
	border: none;
	border-radius: 20px;
	color:var(--basic-black);
}
/*Товары*/
.catalog-product{
	width: 267px;
	height: 324px;
}
.catalog-product:hover{
	background: var(--basic-white);
	opacity: 0.2;
	box-shadow: 0px 20px 20px var(--box-shadow);
	width: 293px;
	height: 402px;
	border-radius: 4px;
}
.catalog-product-img{
	width: 267px;
	height: 267px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius:50%;
}
.catalog-product-price{
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
}
.catalog-product-text{
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}
.catalog-product-href{
	border-bottom: 1px solid var(--link-border);
}
.catalog-product-1{
	background-image: url(../img/catalog/product_1.jpg);
}
.catalog-product-2{
	background-image: url(../img/catalog/product_2.jpg);
}
.catalog-product-3{
	background-image: url(../img/catalog/product_3.jpg);
}
.catalog-product-4{
	background-image: url(../img/catalog/product_4.jpg);
}
.catalog-product-5{
	background-image: url(../img/catalog/product_1.jpg);
}
.catalog-product-6{
	background-image: url(../img/catalog/product_2.jpg);
}
.catalog-product-7{
	background-image: url(../img/catalog/product_3.jpg);
}
.catalog-product-8{
	background-image: url(../img/catalog/product_4.jpg);
}
.catalog-product-9{
	background-image: url(../img/catalog/product_1.jpg);
}
.catalog-product-10{
	background-image: url(../img/catalog/product_2.jpg);
}
.catalog-product-11{
	background-image: url(../img/catalog/product_3.jpg);
}
.catalog-product-12{
	background-image: url(../img/catalog/product_4.jpg);
}
/*Пагинация*/
.pagination{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white); 
}
.pagination-list:first-child a{
	color: var(--basic-black);
	background: var(--basic-white);
}
.pagination a:hover{ 
	background: var(--link-border);
}