:root {
  --basic-backgound-brown: rgba(157, 139, 132, 1);
  --basic-backgound-blue: rgba(137, 150, 166, 1);
  --basic-backgound-green: rgba(132, 157, 143, 1);
  --basic-list-red: #FBDED7;
  --button-red: #F26843;
  --button-red2: #F6B5A5;
  --button-red3: #E74A35;
  --basic-white: #ffffff;
  --basic-black: #323232;
  --basic-grey: #5A5A5A;
  --basic-grey-back: #F8F7F4;
  --catalog-active: #D07058;
  --black-underine: #353535;
  --link-focus1: #FFBC9E;
  --link-focus2: #E84D37;
  --link-focus-border1: rgba(232, 77, 55, 0.3);
  --link-focus-border2:rgba(255, 188, 158, 0.3);
  --form-text: #999999;
  --form-border: rgba(178, 178, 178, 0.52);
  --boxshadow-button: rgba(172, 16, 0, 0.64);
  --link-border: rgba(255, 255, 255, 0.2);
  --hover-radio-color:rgba(255, 255, 255, 0.4);
  --basic-back-rasp: #dc143c;
  --basic-back-choc: #4d260b;
  --basic-back-pattern:#fde910;
  --basic-back-straw:#fffafa;
  --basic-back-mail:#fde910;
  --cart-weight: #000000;
  --cart-price: #ABABAB;
  --focus-back: #EDEDED;
  --menu-focus-shadow: #696969;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --box-shadow-list: rgba(0, 0, 0, 0.4);
  --box-shadow-focus:#942718;
  --form-focus-border:rgba(46, 136, 228, 0.52);
  --basic-link-focus:rgba(0, 0, 0, 0.07);
  --basic-map-container:#FEFEFE;
  --basic-blur: rgba(218, 228, 239, 0.75);
  --navigation-list-border: rgba(50, 50, 50, 0.2);
}

/*Появилась браузерная обводка кнопок, пришлось гуглить, нашел такое решение*/
/*Начало*/
a:active, a:focus { outline: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
fieldset{
	margin: 0;
	padding: 0;
	border:0 none;
}
/*Конец*/
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-backgound-green);
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
a {
  text-decoration: none;
  color: var(--basic-white);
}
img {
  max-width: 100%;
  height: auto;
}
ul {margin: 0;
	padding: 0;
  list-style: none;
}

/*Шапка*/
.main-header{
	width: 1146px;
	margin:0 auto;

}
.main-navigation{
	height: 114px;
	padding-top:9px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	display: grid;	

}
.nav-info-container{
	justify-self:end;
	margin-top:-14px;
}
.nav-main-container{
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	align-items:center;
}
.site-navigation{
	display: flex;
	flex-direction: row;
	align-items:center;
	flex-wrap: wrap;
}.site-navigation li{
	margin-right: 10px;
}
.main-header-logo{
	margin-right: 11px;
}
.nav-button-container{
	display: grid;
	grid-template-columns: max-content max-content max-content;
	grid-gap: 10px;
}
.radio_slaid{display: none;
	width: 21px;
	height: 21px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
}
.radio_slaid:hover{
	width: 21px;
	height: 21px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
	background: var(--basic-white);
}
.radio_slaid:checked{
	width: 21px;
	height: 21px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
	background: var(--basic-white);
}
/*
.nav-button-container a:not(:first-child){
	background: var(--link-border);
	padding: 7px 22px;
	border-radius: 20px; 
}
.nav-button-container a:first-child{
	background: var(--link-border);
	padding: 7px 5px;
	width: 32px;
	border-radius: 50%; 
}*/
.modal-seach-button{
	background-color: var(--link-border);
	border-radius: 20px; 
	width: 32px;
	height: 32px;
	display: grid;
	grid-template-columns: max-content 1fr;
	align-content:center;
}
.img-seach-h{display: none;}
.modal-seach-button:hover{background: var(--basic-white);}
.modal-seach-button:hover .img-seach-h{
	display: block;
}
.modal-seach-button:hover .img-seach-n{
	display: none;
}

.test2{display: none;}
.modal-login-button:hover .test2{
	display: block;
}
.modal-login-button:hover .test3{
	display: none;
}
.modal-login-button:hover p{
	color: var(--basic-black);
}
.modal-login-button:hover{
	background: var(--basic-white);
}
.modal-seach-button img{
	margin-left: 8px;
	margin-right: 8px;
	align-self:center;
	display: grid;
}
.catalog-navigation{
	position: relative;
	border-radius: 20px; 
	box-sizing: border-box;
	height: 32px;
	display: grid;
	align-content:center;
}
.catalog-navigation-onpage{
	background: var(--catalog-active);
}
.catalog-navigation a{
	margin:9px 13px 11px 13px; 
}
.catalog-navigation:not(.catalog-navigation-onpage) a{
	border-bottom: 1px solid var(--link-border);
}
.catalog-navigation-hover:not(.catalog-navigation-onpage):hover{
	background: var(--link-border);
	border-radius: 20px; box-sizing: border-box;
	height: 32px;
	display: grid;
	align-content:center;
	background-color: var(--basic-white);	
}
.catalog-navigation-hover:hover > a{
	margin:9px 13px 11px 13px; 
	color: var(--basic-black); 
}
.catalog-navigation-onpage:hover > a{
	margin:9px 13px 11px 13px; 
	color: var(--basic-white); 
}
.catalog-navigation-hover > a:focus{
	border-radius: 20px; 
	height: 32px;
	display: grid;
	align-content:center;
	box-sizing: border-box;
	background-color: var(--focus-back);
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	color: var(--basic-black);
	margin: 0;
	padding-left: 13px;
	padding-right: 13px;
}
.modal-login-button{
	background: var(--link-border);
	border-radius: 20px; 
	width: 92px;
	height: 32px;
	display: grid;
	grid-gap: 8px;
	grid-template-columns: max-content 1fr;
	align-content:center;
}

.modal-login-button img{
	margin-left: 16px;
	align-self:center;
	
}
.modal-login-button p{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	
}

.modal-basket-button{
	background: var(--link-border);
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 20px; 
	height: 32px;
	display: grid;
	grid-gap: 8px;
	grid-template-columns: max-content 1fr;
	align-content:center;
}
.modal-basket-button img{
	
	align-self:center;
}
.modal-basket-button p{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	
}
.modal-basket-button-full{
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 20px; 
	height: 32px;
	display: grid;
	grid-gap: 8px;
	grid-template-columns: max-content 1fr;
	align-content:center;
	background: var(--basic-white);
}
.modal-basket-button-full p{
	color: var(--basic-black);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	
}
.modal-basket-button-full img{
	
	align-self:center;
}

/*
.site-navigation a:hover,
.site-navigation a:focus{
	width: 87px;
	height:31px;
  	color: var(--basic-white);
}
.site-navigation a:hover{
	background-color: var(--basic-white);
	color: var(--basic-black); 
	border-radius: 26px;
}
.site-navigation a:focus{
	background-color: var(--focus-back);
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	color: var(--basic-black); 	
}
*/
.catalog-navigation-list{
	position: absolute;
	display: none;
	z-index: 111;
	width: 143px;
	height: auto;
	top:35px;
	background: var(--basic-white);
	box-shadow: 0px 20px 20px var(--box-shadow-list);
	border-radius: 4px;
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin:0;
}
.catalog-navigation:hover .catalog-navigation-list{
	display: block;
}
.catalog-navigation-list .catalog-navigation-list-link,
.catalog-navigation-list .catalog-navigation-list-link:hover,
.catalog-navigation-list .catalog-navigation-list-link:focus{
	font-weight: normal;
	display: block;
	width: 92%;
	padding: 0;
	margin:0;
	color: var(--basic-black);
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 7px;
	padding-top:7px;
	padding-left: 21px;

}
.catalog-navigation-list li:last-child{
	margin-bottom: 10px;
}
.catalog-navigation-list-border{
	width: 80%;
	color: var(--navigation-list-border);
}
.catalog-navigation-list .catalog-navigation-list-link-main{
	display: block;
	width: 92%;
	padding: 0;
	margin:0;
	color: var(--basic-black);
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 5px;
	padding-top:5px;
	padding-left: 21px;

}


.catalog-navigation-list-new{
	padding-top: 13px;
	
}


.catalog-navigation-list .catalog-navigation-list-link:hover {
	background-color: var(--basic-list-red);

}

.catalog-navigation-list .catalog-navigation-list-link:focus{
	background-color: var(--button-red2);
}
.catalog-navigation-list-focus,
.catalog-navigation-list .catalog-navigation-list-focus:hover,
.catalog-navigation-list .catalog-navigation-list-focus:focus
{
	background-color: var(--catalog-active);
}
/*
.catalog-navigation-catalog:first-child > a{
	background: var(--catalog-active);
	border-radius: 26px;
}
.catalog-navigation-catalog:first-child > a:hover{
	background-color: var(--basic-white);
	color: var(--basic-black); 
	border-radius: 26px;
}
.catalog-navigation-catalog:first-child > a:focus{
	background-color: var(--focus-back);
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	color: var(--basic-black); 	
}
*/
.modal-login-button,
.modal-basket-button{
	font-weight: 500;
}
.nav-info-text{	font-size: 14px;
	line-height: 16px;
	text-align: right;
	margin-bottom: 8px;
}
.nav-info-phone {
	font-size: 22px;
	line-height: 24px; 
}

/*Слайдер*/
.slaider-container{
	position: relative;
	width: 100%;
	height:400px;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 120px;
}
.blur{background: var(--basic-blur);
	width: 800px;
	filter: blur(250px);
	height: 450px;

}
.slaid{position: absolute;
	font-size: 60px;
	line-height: 60px;
}

.slaid-img-1{position: absolute;z-index: 1;
	left: 55px;top:-80px;
}
.slaid-img-2{position: absolute;z-index: 0;
	right: 65px;top:-45px;
}


.slaid1{
	display: block;
}
.slaid2{
	display: none;
}
.slaid3{
	display: none;
}

.button-slaider{
	position: relative;
	z-index: 2;
	top:120px;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	width: 261px;
	height: 62px;
}
.title-slaid{
	position: relative;
	z-index: 2;
	top:160px;
}
.label-radio {
    box-sizing: border-box;
	border: 2px solid white;
    margin: 8px;
    display: flex;
    flex-direction: row;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: none;
}
#label_radio1:hover, #label_radio2:hover, #label_radio3:hover {
	cursor: pointer;
   	background-color: var(--hover-radio-color);
}
.radio_slaid:checked + #label_radio1, .radio_slaid:checked + #label_radio2 , .radio_slaid:checked + #label_radio3{
	cursor: pointer;
	background: var(--basic-white);
}
.slaider-radio{
	position: relative;
	right:925px;
	top:250px;
	display: flex;
	flex-direction: row;
}

/*Акции*/
.stocks{z-index: 111;position: relative;
	width: 1146px;
	margin: 0 auto;
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 26px;
}
.stocks-items{
	border-radius: 16px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	width: 560px; 
	height: 229px;
}
.stocks-items_title{
	margin: 16px 0;

	padding-left:16px;
	padding-bottom: 0;
	font-size: 35px;
	line-height: 41px;
}
.stocks-items_text{
	
	padding-left: 16px;
	padding-right: 30px;
	margin-bottom:42px;
}
.stocks-items-button{
	margin-right: 22px;
	font-size: 18px;
	line-height: 24px;
	height: 48px;
	width: 191px;
	display:inline;
	float:right;
}
.stocks-items-rasp{
	background-image: url(../img/background/rasp_back.jpg);
	background-color: var(--basic-back-rasp);
}
.stocks-items-choc{
	background-image: url(../img/background/choc_back.jpg);
	background-color: var(--basic-back-choc);
}
/*Товары "ХИТ"*/
.product-hit-container{
	width: 1146px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 26px;
}
.product-hit-cart{
	width: 267px;
	height: 402px;
}
.product-hit-img{
	position: relative;
	width: 267px;
	height: 267px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius:50%;
}
.button-wrapper{
	margin-top: 14px;
	display: flex;
	justify-content: center;
}
.product-hit-cart .button-hit{
	visibility: hidden;
	padding: 12px 16px;
}
.product-hit-cart:hover{
	width: 293px;
	height: 402px;
	background: var(--link-border);
	box-shadow: 0px 20px 20px var(--box-shadow);
	border-radius: 4px;
}
.product-hit-cart:hover .button-hit{
	visibility: visible;
	padding: 12px 16px;
}
.product-hit-cart:hover .product-hit-img{
	margin-left: 13px;
	margin-right: 13px;
	margin-top: 6px;
	position: relative;
	width: 267px;
	height: 267px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius:50%;
}

.product-hit-price{
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	position: absolute;
	top:162px;
}
.product-hit-1{
	background-image: url(../img/catalog/product_1.jpg);
}
.product-hit-2{
	background-image: url(../img/catalog/product_2.jpg);
}
.product-hit-3{
	background-image: url(../img/catalog/product_3.jpg);
}
.product-hit-4{
	background-image: url(../img/catalog/product_4.jpg);
}
.product-hit-text{
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 0;
}
.product-hit-borderimg{
	width: 61px;
	height: 61px;
	background: var(--basic-white);
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
}
.product-hit-href{
	border-bottom: 1px solid var(--link-border);
}
/*Преимущества*/
.advantages{
	border-radius: 16px;
	color: var(--basic-black);
	width: 1146px;
	height: 306px;
	background-image: url(../img/background/pattern.jpg); 
	margin: 0 auto;
	margin-top: -46px;
	
}
.grid-advantages{
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items:start;
	padding: 0;	
}
.advantages-text{
	margin: 0;
}
.advantages-border-img{
	position: relative;
	bottom: 10px;
	height: 49px;
	width: 49px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	align-items:center;
  	justify-content: center;
  	margin-right: 6px;
}
.advantages-title{
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	padding-left: 24px;
	padding-top: 20px;
	margin-bottom: 0;
	
}
.advantages-list{
	margin-top: 21px;
	margin-left: 24px;
	margin-right: 23px;
	display: grid;
	grid-gap: 33px 26px;
	grid-template-columns: 1fr 1fr;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

}

/*Блог*/
.interactive-container{
	width: 1146px;
	margin: 0 auto;
	margin-top: 40px;
	display: grid;
	grid-gap: 26px;
	grid-template-columns: 1fr 1fr;
}
.blog{
	width: 560px;
	height: 220px;
	background: url(../img/background/straw_back.jpg); 
	background-color: var(--basic-grey-straw);
	color: var(--basic-black);
	border-radius: 16px;
}
.blog-text{
	margin-top: 23px;
	margin-left: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}
.blog-href-container{
	margin-left: 20px;
}
.blog-href{
	color: var(--basic-black);
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
	border-bottom: 2px solid var(--black-underine);
}
.blog a:hover,
.blog a:focus{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
/*Карта*/
.map-contacts{
	position: absolute;
	z-index: 1;
	right: 100px;
	top:60px;
	
}
.map-contacts-container{
	width: 100%;
	position: relative;
	margin: 0 auto;
	margin-top:40px;
}
.yandexmap{
	width: 100%; 
	height: 430px
}
.contacts-container{
	top:60px;
	right:30px;
	width: 303px;
	height: 306px;
	background: var(--basic-map-container);
	border-radius: 16px;
	padding:32px 25px 31px;
	box-sizing: border-box;
}
.button-contacts{
	margin-top: 7px;
	width: 253px;
	height: 43px;
}
.contacts-text-important{
	color:var(--basic-black);
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
}
.contacts-text{
	color: var(--basic-black);
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
/*Подписка*/
.subscription{
	background: url(../img/background/mail_back.jpg);
	background-color: var(--basic-grey-back);
	width: 560px;
	height: 220px;
	border-radius: 16px;
	display:flex;
  	align-items:center;
  	justify-content: center;
}
.subscription-main{
	background-color: var(--basic-grey-back);
	width: 548px; 
	height: 210px;
	border-radius: 16px;

}
.subscription-text{
	margin-left: 20px;
	margin-top: 29px;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--basic-grey);
}

/*Футер*/
.main-footer{
	width: 1144px;
	margin: 0 auto;
	margin-top:18px;
	margin-bottom: 25px;
	height: 60px;
	display: grid;
	grid-gap: 234px;
	grid-template-columns: max-content 1fr max-content;
align-items: center;
}
.main-footer-catalog{
	border-top:1px solid var(--link-border);
	height: 78px;
}
.social-button img{
	border:2px solid var(--hover-radio-color);
	border-radius: 50%;
	opacity:0.8;
}
.social-button img:hover{
	opacity:1;
}
.footer-catalog-border-margin{
	margin-top: 18px;
}
.footer-social-list{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 12px;
	padding-bottom: 5px;
}
.footer-info-list{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 9px 12px;
	padding-bottom: 3px;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	
}
.footer-info-list a{
	border-bottom: 1px solid var(--link-border);
}
.footer-info-list li:first-child{
	font-weight: bold;
}
.text-developer{
	margin-top: 0;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}
.text-developer a{
	border-bottom: 1px solid var(--link-border);
}

.footer-info-list a:hover,
.footer-info-list a:focus,
.text-developer a:hover,
.text-developer a:focus{
	color: var(--link-focus1);
	border-bottom: 1px solid var(--link-focus-border2);
	
}
.dilers{
	position: relative;
}
.dilers:before{
	position: absolute;
	left:-20px;
	top:3px;
	content: url(../img/icons/heart_ico.png);
}


/*Кнопки*/
.button{
	border: none;
	color: var(--basic-white);
	background-color: var(--button-red);
	background: linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: 0px 2px 2px var(--boxshadow-button);
	border-radius: 70px;
}
.button:hover{
	background: linear-gradient(0deg, var(--link-border), var(--link-border)),  
	linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: 0px 2px 2px var(--boxshadow-button);
	border-radius: 70px;
}

.button:focus{
	background: linear-gradient(0deg, var(--basic-link-focus), var(--basic-link-focus)), 
	linear-gradient(180deg, var(--button-red) 0%, var(--button-red3) 100%);
	box-shadow: inset 0px 2px 2px var(--box-shadow-focus);
	border-radius: 70px;
}


/*Формы*/
.basic-form input[type="email"],
.basic-form input[type="text"],
.basic-form input[type="password"]{
	background: var(--basic-white);
	border: 1px solid var(--form-border);
	color: var(--form-text);
	border-radius: 4px;	
	font-size: 16px;
	line-height: 20px;
}
.basic-form textarea{
	background: var(--basic-white);
	color: var(--form-text);
	border: 1px solid var(--form-border);
	border-radius: 4px;
	font-size: 16px;
	line-height: 20px;
}
.subscription-form input[type="email"]{
	border-radius: 6px;
	font-size: 16px;
	line-height: 24px;
	margin-left: 20px;
	width: 368px;
	height: 44px;
	margin-right: 10px;
	padding-left: 14px;
}
.subscription-form input:focus{
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
}
.button-subscription{
	width:130px;
	height: 44px;
}
.form-subscription-container{
	height: 44px;
	display: flex;
	align-items:center;
  	justify-content: center;
}
.login-form input[type="email"],
.login-form input[type="password"],
.seach-form input[type="text"]{
	font-size: 14px;
	line-height: 16px;
}
.login-form input:focus,
.seach-form input:focus{
	font-size: 14px;
	line-height: 16px;
	color: var(--basic-black);
}
.basic-form input:hover{
	border: 2px solid var(--form-border);

}
.basic-form input:focus{
	border: 2px solid var(--form-focus-border);
	font-weight: bold;
}
.feedback-form textarea:hover{
	border: 2px solid var(--form-border);
}
.feedback-form textarea:focus{
	border: 2px solid var(--form-focus-border);
	font-weight: bold;
	color: var(--basic-black);
}
.feedback-form input:focus,
.feedback-form textarea:focus{
	font-size: 16px;
	line-height: 20px;
	color: var(--basic-black);
}
.password-restore,
.new-user{
	color: var(--basic-black);
	border-bottom: 1px solid var(--black-underine);
}
.password-restore:hover,
.new-user:hover{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
.password-restore:focus,
.new-user:focus{
	color: var(--link-focus2);
	border-bottom: 2px solid var(--link-focus-border1);	
}
/*Корзина*/
.cart{
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: var(--basic-black)
}
.cart-weight{
	color: var(--cart-weight)
}
.cart-price{
	color: var(--cart-price)	
}
.cart-total{
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	color: var(--basic-black)
}

/* css для каталога*/
.breadcrumbs{
	margin-top:-24px;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	flex-direction: row;
	
}
.breadcrumbs a{
	margin-right:10px;
	border-bottom: 1px solid var(--link-border);
	display: flex;
	flex-direction: row;
}
.breadcrumbs li:nth-child(2n){
	margin-right: 10px;
}
.breadcrumbs li:last-child a{
	border-bottom:0;
	margin-right:0;
}
.breadcrumbs a:hover, .breadcrumbs a:focus{
	color: var(--link-focus1);
	border-bottom: 1px solid var(--link-focus-border2);
} 
.breadcrumbs li:last-child a:hover{
	cursor: default;
	color: var(--basic-white);
	border-bottom:none;
}
/*Фильтр*/
.bottom-row{
	margin-top: 14px;
}
.catalog-container{
	width: 1146px;
	margin: 0 auto;
}
.filter-main{
	width: 869px;
	height: 130px;
}
.filter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}
.filter-container{border-radius: 20px;
	background: var(--link-border);
}

.filter-select{background: var(--link-border);
	width: 196px;
	height: 36px;
	border-radius: 20px;
}
.filter-range{
	width: 218px;
	height: 36px;
	padding:0;
	margin: 0;

}
.filter-product-fat-list{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 425px;
	height: 36px;
	display: flex;
	flex-direction: row;
	padding-top: 9px;
	box-sizing: border-box;
}
.label-fat-list {
	margin-left:15px;
	margin-bottom: 8px;
	margin-right: 11px;
	display: flex;
	flex-direction: row;
	width: 22px;
	height: 22px;
	background:url(../img/icons/fat-list-normal.png);
}
.label-fat-list:hover {
	cursor: pointer;  
	width: 22px;
    height: 22px;
   	background:url(../img/icons/fat-list-hover.png);
}
.input-fat-list:checked + .label-fat-list{
	cursor: pointer; 
	width: 22px;
    height: 22px;
   	background:url(../img/icons/fat-list-checked.png);
}
 .input-fat-list:checked + .label-fat-list:hover{
 	cursor: pointer; 
 	width: 22px;
    height: 22px;
   	background:url(../img/icons/fat-list-checked-hover.png);}  	
.input-fat-list{
	display: none;
	width: 22px;
	height: 22px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
}
.product-fat-list-items{
	margin-bottom: 5px;
	margin-right: 4px;
}
.filter-filler{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 711px;
	height: 36px;
	display: flex;
	flex-direction: row;
}
.label-filler-list {
	margin-left:16px;	
	margin-right: 8px;
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
   	background:url(../img/icons/filler-normal.png);
}	
.label-filler-list:hover {
	cursor: pointer;  
	width: 20px;
	height: 20px;
	background:url(../img/icons/filler-hover.png);
}
.input-filler-list:checked + .label-filler-list{
	cursor: pointer; 
	width: 23px;
	height: 20px;
	background:url(../img/icons/filler-checkbox-on.png);
}
.input-filler-list:checked + .label-filler-list:hover{
	cursor: pointer; 
	width: 23px;
	height: 20px;
	background:url(../img/icons/filler-checkbox-on-hover.png);
}
.input-filler-list{
	display: none;
	width: 20px;
	height: 20px;
	border: 2px solid var(--basic-white);
	box-sizing: border-box;
}
.filler-list-items{
	margin-right: 4px;
}
.main-title{
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
}
.filter, .button-filter{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	
	border-radius: 20px;
}
.filter-title{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-left:15px;
	margin-bottom: 7px;
}
.button-filter{
	background: var(--link-border);
	border: 2px solid var(--basic-white);
	border-radius: 20px;
}
.filter select{
	background:var(--basic-backgound-green);
	color:var(--basic-white);
}
.filter select:hover{
	font-weight: 500;
	color:var(--basic-black);
}
.button-filter{
	margin-top: 35px;
	width: 144px;
	height: 36px;
	background: var(--link-border);
	border: 2px solid var(--basic-white);
	border-radius: 20px;
}
.button-filter:hover{
	background: var(--basic-white);
	border: none;
	border-radius: 20px;
	color:var(--basic-black);
}
.button-filter:focus{
	box-shadow: inset 0px 2px 1px var(--menu-focus-shadow);
	background: var(--basic-white);
	border: none;
	border-radius: 20px;
	color:var(--basic-black);
}
/*Товары*/
.catalog{margin-top: 40px;
	width: 1146px;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 26px;


}
.catalog-product{
	width: 267px;
	height: 402px;
	margin-bottom: -36px;
}
.catalog-product-img{
	position: relative;
	width: 267px;
	height: 267px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius:50%;
}
.catalog-product-price{
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
	position: absolute;
	top:162px;
}
.button-wrapper{
	margin-top: 14px;
	display: flex;
	justify-content: center;
}
.catalog-product .button-hit{
	visibility: hidden;
	padding: 12px 16px;
}
.catalog-product:hover{
	z-index: 1;
	width: 293px;
	height: 402px;
	background: var(--link-border);
	box-shadow: 0px 20px 20px var(--box-shadow);
	border-radius: 4px;
}
.catalog-product:hover .button-hit{
	visibility: visible;
	padding: 12px 16px;
}
.catalog-product:hover .catalog-product-img{
	margin-left: 13px;
	margin-right: 13px;
	margin-top: 6px;
	position: relative;
	width: 267px;
	height: 267px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	border-radius:50%;
}
.catalog-product-text{
	text-align: center;
	font-size: 16px;
	line-height: 22px;
}
.catalog-product:hover .catalog-product-text{
	padding-right: 13px;
	padding-left: 13px;
}
.catalog-product-href{
	border-bottom: 1px solid var(--link-border);
}
.catalog-product-1{
	background-image: url(../img/catalog/product_1.jpg);
}
.catalog-product-2{
	background-image: url(../img/catalog/product_2.jpg);
}
.catalog-product-3{
	background-image: url(../img/catalog/product_3.jpg);
}
.catalog-product-4{
	background-image: url(../img/catalog/product_4.jpg);
}
.catalog-product-5{
	background-image: url(../img/catalog/product_5.jpg);
}
.catalog-product-6{
	background-image: url(../img/catalog/product_6.jpg);
}
.catalog-product-7{
	background-image: url(../img/catalog/product_7.jpg);
}
.catalog-product-8{
	background-image: url(../img/catalog/product_8.jpg);
}
.catalog-product-9{
	background-image: url(../img/catalog/product_9.jpg);
}
.catalog-product-10{
	background-image: url(../img/catalog/product_10.jpg);
}
.catalog-product-11{
	background-image: url(../img/catalog/product_11.jpg);
}
.catalog-product-12{
	background-image: url(../img/catalog/product_12.jpg);
}
/*Пагинация*/
.pagination{
	margin-top: 80px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white); 

}
.pagination-main-list{
	display: flex;
	flex-direction: row;
	justify-content: flex-end
}
.pagination-list:nth-child(2) a{
	color: var(--basic-black);
	width: 26px;
	height: 26px;
	background: var(--basic-white);
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
}
.pagination a:hover{ 
	background: var(--link-border);
	width: 26px;
	height: 26px;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
  	
}
.pagination-list-2{
	color: var(--link-border);
	width: 26px;
	height: 26px;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	margin-right: 12px;
}
.pagination-list-2 a{
	color: var(--link-border);
} 
.pagination-list-2 a:hover{ 
	background: none;
} 
.pagination-list{

	width: 26px;
	height: 26px;
	display:flex;
  	align-items:center;
  	justify-content: center;
  	border-radius: 50%;
  	margin-right: 12px;
  }
.pagination-list a{
	color: var(--basic-white); 
} 
.basic-form input[type="email"],
.basic-form input[type="text"],
.basic-form input[type="password"]{
	color:var(--basic-black);
}
/*Форма поиска*/
.seach-form{
	display: block;
	top:70px;
	right: 320px;
	position: absolute;
	background: var(--basic-grey-back);
	box-shadow: 0px 20px 20px var(--box-shadow-list);
	border-radius: 4px;
}

.search_product{
	margin: 20px 15px;
	width: 311px;
	height: 44px;
	padding-left: 15px;
}
/*Форма ЛК*/
.login-form{
	display: block;
	position: absolute;
	top:70px;
	right: 120px;
	width: 287px;
	height: 214px;
	background: #F8F7F4;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;


}
.login-form-container{
	margin: 20px 20px 22px 22px;
	display: grid;
	grid-template-columns: max-content max-content;
	grid-template-rows: 1fr 1fr;
	grid-gap: 0 20px;
	align-items: center;

}
.login-form-login{
	padding-left: 15px;	
	width: 226px;
	height: 44px;
	margin: 19px 20px 20px 22px;

}
.login-form-password{
	padding-left: 15px;
	width: 226px;
	height: 44px;
	margin: 0 20px 0 22px;

}
.login-form-button{
	width: 103px;
	height: 44px;
	grid-row: 1/-1;
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;	
}
.login-form-container a{
	text-decoration: underline;
	text-decoration-color: var(--navigation-list-border);
	font-size: 13px;
	line-height: 15px;
	border-bottom: none;
}
.login-form-container a:hover{
	text-decoration: underline;
	text-decoration-color: var(--link-focus-border2);
	border-bottom: none;
}